*{

  box-sizing: border-box;
}


.container{
  width:1440px;
  height:1224px;
  background-color:#D9D9D9;
  margin:0 auto;

      }
 body{
    background-image: url("images/roses1.jpg");

  }

header{
  height:126px;
  color:"pink";
  width:100%;
  background-color: pink;
  text-align: center;
  padding-top: 25px;
}
h1{
   font-family: 'Shizuru', cursive;
   text-align: center;
}
nav{
  width:100%;
  height:58px;
  background-color: #594B22;
}

aside{
margin-top: : 10px;
margin-right 10px;
margin-bottom 10px;
float:left;
background-color: #6D658C;
width: 200px;
height: 400px;

}

.main{
  float:left;
  width:1128px;
  height: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #594B22;
  padding: 10px;
}

.inside{
width:100%;
background-color: #024059;
height:348px;
border: 4px dotted blue;

}
footer{
width:100%;
background-color: #594B42;
height:85px;
clear:both;
}
